body {
    margin: 0;
    padding:  0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: gray;
}

ul{
    list-style: none;
    margin: 0;
}



.container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 100px auto 100px / 50% 50%;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
}

.header {
    grid-area: header;
    background-color: #8f57fd;
}
.header nav{
    height: 100%;
}
.header nav ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding-right: 30px;
}
.header nav ul a li {
    color: white;
    padding-left: 20px;
}

.main {
    grid-area: main;
    background-color: #AB88FF;
}
.footer {
    grid-area: footer;
    background-color: #21c08b;
}
