body {
    margin: 0;
    padding:  0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: gray;
}

.container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 100px auto 100px / 50% 50%;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
}

.header {
    grid-area: header;
    background-color: #8f57fd;
}


.main {
    grid-area: main;
    background-color: #AB88FF;
}
.main .messages {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    
}
.main .message-container {
  width: 350px;
  padding: 25px;
}

.footer {
    grid-area: footer;
    background-color: #21c08b;
}
